amqp
asgiref
async-timeout
billiard
celery
click
click-didyoumean
click-plugins
click-repl
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
inflection
kombu
packaging
pillow
prompt-toolkit
psycopg2-binary
PyJWT
python-dateutil
python-decouple
python-slugify
pytz
PyYAML
redis
six
sqlparse
text-unidecode
typing-extensions
tzdata
uritemplate
vine
wcwidth